// Variables
$website-width: 1280px;
$bg-color: #f6f6f6;
$bg-color-light: #f9f9f9;
$dark-color: #333;
$navbar-text: #969696;
$primary-color: #bd9235;
$secondary-color: #040040;
$tertiary-color: #713d50;