.container {
    max-width: $website-width;
    position: relative;
    padding: 0 1.5rem;
    margin: auto;
    text-align: center;
    // overflow: hidden; 
}

// Buttons
// shared property
%btn-shared{
    color: white;
    font-size: 1.5rem;
    padding: 1.25rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    height: auto;
    transition: all .3s;
}

// Custom Buttons
.btn {
    // Main Button with gradient
    &-main {
        @extend %btn-shared;
        background-image: linear-gradient(to right, $secondary-color, $tertiary-color);
        &:hover {
            background-image: linear-gradient(to right, $tertiary-color,$secondary-color);
            padding: 1.25rem 5rem;
        }
    }

    // Secondary Button
    &-secondary {
        @extend %btn-shared;
        background: $secondary-color;
        padding: 1rem 1.5rem;
        &:hover {
            background: $tertiary-color;
            padding: 1rem 4rem;
        }
    }

    // Tertiary Button
    &-tertiary {
        @extend %btn-shared;
        background: $primary-color;
        padding: 1rem 1.5rem;
        &:hover {
            background: $tertiary-color;
        }
    }
}

// Brightness
.bright {
    &:hover {
        filter: brightness(200%);
    }
}

// Card
%card-shared {
    background: $bg-color;

    border: 1px solid #d9d9d9;
    border-radius: 50px;

    -webkit-filter: drop-shadow(5px 10px 5px #d9d9d9);
    filter: drop-shadow(5px 10px 5px #d9d9d9);
}

.card {
    &-s {
        @extend %card-shared;
        width: 460px;
        height: 500px;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        overflow: hidden;
    }
    &-m {
        @extend %card-shared;
        width: 30rem;
        height: 35rem;
    }
}
