@import 'config';
@import 'utilities';


// Reset defaults
* {
    margin: 0;
    padding: 0;
}

// Body
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background: $bg-color;

    // Need this because the stupid blob causes horizontal scroll
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 800;
    color: $secondary-color;
    margin-bottom: 1rem;

    // Adding Underline
    display: inline-block;
    padding-bottom: .5rem;
    border-bottom: 2px $primary-color solid;  

}

h2 {
    font-weight: 700;
    color: #535353;
    padding: .5rem 0;
}

a {
    text-decoration: none;
    color: $navbar-text;
}

ul {
    list-style: none;
}

// Nav Bar 
#main-nav {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;

    #logo {
        width: auto;
        height: auto;
        max-height: 3rem;
    }

    ul {
        display: flex;
        font-size: 1.25rem;
        li {
            padding-left: 3rem;
        }
    }

    a {
        border-bottom: 3px transparent solid;
        padding-bottom: .5rem;
        transition: border-color .5s;
        // border-radius: 1px;

        &:hover {
            border-color: $navbar-text;
        }

        &.current {
            border-color: $primary-color;
        }
    }
}

.current {
    color: $primary-color;
    font-weight: bold;
}

#header{
    &-home{
        height: 100vh;
        position: relative;

        // Background Marble 1
        #decor-1 {
            position: absolute;
            z-index: -2;
            right: -480px;
            top: -120px;

            -webkit-filter: drop-shadow(-3px 10px 5px #d9d9d9);
            filter: drop-shadow(-3px 10px 5px #d9d9d9);
        }

        #decor-2 {
            position: absolute;
            z-index: -1;
            right: -495px;
            top: -120px;
        }

        // Main Header Content
        #header-content {
            position: absolute;
            // z-index: 100;
            padding-top: 17%;
            align-items: center;
            text-align: center;
            
            .header-title {
                display: block;
                width: 92%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
            }

            .header-btn {
                display: block;
                margin-top: 17%;
            }

            .down-arrow {
                margin-top: 17%;
                height: auto;
                width: 3%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

// Home Section A
#home-a{
    margin: 6rem 0;
    position: relative;

    // Background Marble Effect 2
    #decor2 {
        position: absolute;
        z-index: -2;
        left: -700px;
        top: 100px;

        -webkit-filter: drop-shadow(5px 10px 5px #d9d9d9);
        filter: drop-shadow(5px 10px 5px #d9d9d9);
    }

    // Line Graphics
    #line1 {
        position: absolute;
        z-index: 2;
        bottom: -100px;
        right: -100px;
    }
    
    #line2 {
        position: absolute;
        z-index: 2;
        bottom: -275px;
        right: 50px;
    }

    // Brief About Section Content
    .brief-about-title {
        display: block;
        height: auto;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .brief-about {
        padding: 1rem 30%;
        margin-bottom: 1rem;
        p {
            font-size: 1.25rem;
            margin-bottom: 2rem;
        }
    }
}

// Home Section B
#home-b {
    
    margin: 6rem 0;
    padding-top: 6rem;

    .wwd-h1 {
        margin-bottom: 3rem;
    }
    
    .wwdcards {
        position: relative;
        padding-top: 2rem;
        .card1 {
            position: absolute;
            top: 0;
            left: 200px;
            transition: all ease;

            #angled-line {
                float: right;
            }
            #graphic {
                position: absolute;
                top: 75px;
                left: 150px;
            }

            .card-text{
                display: inline-block;
            }

            h1 {
                font-size: 1.5rem;
                padding-top: 1rem;
            }

            // // Slide the cards over on hover
            // &:hover {
            //     transform: translateX(-125px);
            // }

            // // ~ allows me to grab a sibling element
            // &:hover ~ .card2 {
            //     transform: translateX(125px);
            // }
        }

        .card2 {
            position: absolute;
            top: 50px;
            right: 200px;
            transition: all ease;

            #angled-line {
                float: left;
            }

            #graphic {
                position: absolute;
                top: 75px;
                right: 10px;
            }

            .card-text {
                display: inline-block;
            }

            h1 {
                padding-top: 1rem;
                font-size: 1.5rem;
                color: #703d50;
            }

            // // Slide the cards over on hover
            // &:hover {
            //     transform: translateX(125px);
            // }
        }
    }

    .wwd-button {
        margin-top: 750px;
    }
}

// Home Section C
#home-c {
    background: white url('/dist/img/Toronto.png') no-repeat center center / cover;
    width: 100%;
    padding-bottom: 10%;
    justify-content: center;
    align-items: center;

    .testimonials {
        padding-top: 3rem;

        h1 {
            color: white;
            margin-bottom: 5rem;
        }

        .customer-comments {
            p {
                font-weight: 700;
                font-style: italic;
                color: white;
                font-size: 1.6rem;
            }

            h3 {
                color: white;
                font-size: 1rem;
            }

            .comment1 {
                padding-bottom: 5rem;
                text-align: left;
                padding-right: 25%;
                h3{
                    padding-top: 1rem;
                    text-align: right;
                }
            }
            .comment2 {
                padding-bottom: 5rem;
                text-align: right;
                padding-left: 25%;
                h3{
                    padding-top: 1rem;
                    text-align: left;
                }
            }
        }
    }
}

// Home Section D
#home-d {
    background: white;
    padding: 4rem 0;
    img {
        padding: 3rem 0;
        margin-right: auto;
        margin-left: auto;
        height: auto;
        display: block;
        width: 95%;
    }
}