@import 'config';
@import 'utilities';


// Reset defaults
* {
    margin: 0;
    padding: 0;
}

// Body
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background: $bg-color;

    // Need this because the stupid blob causes horizontal scroll
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $navbar-text;
}

ul {
    list-style: none;
}

// Nav Bar 
#main-nav {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;

    #logo {
        width: auto;
        height: auto;
        max-height: 3rem;
    }

    ul {
        display: flex;
        font-size: 1.25rem;
        li {
            padding-left: 3rem;
        }
    }

    a {
        border-bottom: 3px transparent solid;
        padding-bottom: .5rem;
        transition: border-color .5s;
        // border-radius: 1px;

        &:hover {
            border-color: $navbar-text;
        }

        &.current {
            border-color: $primary-color;
        }
    }
}

.current {
    color: $primary-color;
    font-weight: bold;
}

#header{
    &-home{
        height: 100vh;
        position: relative;

        #decor-1 {
            position: absolute;
            z-index: -2;
            right: -480px;
            top: -120px;

            -webkit-filter: drop-shadow(-5px 10px 5px #cccccc);
            filter: drop-shadow(-5px 10px 5px #cccccc);
        }

        #decor-2 {
            position: absolute;
            z-index: -1;
            right: -495px;
            top: -120px;
        }

        #header-content {
            position: absolute;
            // z-index: 100;
            padding-top: 17%;
            align-items: center;
            text-align: center;
            
            .header-title {
                display: block;
                width: 92%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
            }

            .header-btn {
                display: block;
                margin-top: 17%;
            }

            i {
                margin-top: 17%;
                color: #040040;
            }
        }
    }
}

// Home Section A
#home-a{
    text-align: center;
    margin-top: 4rem;
    padding-top: 3.5rem;
    position: relative;

    .brief-about-title {
        display: block;
        height: auto;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .brief-about {
        padding: 0 30%;
        padding-top: 1rem;
        p {
            font-size: 1.25rem;
            margin-bottom: 2rem;
        }
    }
}